.app {
  min-height: 100%;
  min-width: vw-100;
  // background: #ADEFD1FF
  font-family: cursive;
  position: relative;
  //background-image:url(images/background.jpg);
  background: #ffce9f;

  .content {
    min-height: calc(100vh - 204px);
    min-width: 100%;
    overflow: auto;
  }

}